body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#FFFEF8;
  color:#001717;
}
/* 
#173f5f
#20639b
#3caea3
#f6d55c
#ed553b
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.root{
  display:flex;
  flex-direction: column;
  width:100%;
}
/* -------------------------------------- navi ------------------------------------------ */
.navi{
  display:flex;
  width:100%;
  flex-direction: column;
}
.navi_level1{
  display:flex;
  justify-content: space-between;
  border-bottom:solid 2px #707070;
}
.navi_level1 > span{
  color:#707070;
  font-size:1.5em;
  font-weight: bold;
  padding:9px 15px;
  cursor: pointer;
}
.navi_level1 > a{
  color:#001717;
  font-size:1.5em;
  font-weight: bold;
  padding:9px 20px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.navi_level2{
  display:flex;
  flex-direction: column;
  background:#FFFEF8;
  height:0px;
  overflow: hidden;
  transition:all 0.6s;
  cursor: pointer;
  z-index: 10;
}
.navi_level2 > a{
  display:flex;
  justify-content: flex-start;
  /* margin:5px 0px; */
  padding:15px;
  font-size:20px;
  font-weight:bold;
  color:#001717;
  border-bottom:solid 2px #707070;
  text-decoration: none;
}
.navi_level2 > a > span:first-child{
  display:flex;
  margin:0px 15px 0px 0px;
}
/* -------------------------------------- index ------------------------------------------ */
.index{
  display:flex;
  margin:-2px 0px 0px 0px;
  background:#FFFEF8;
  color:#001717;
  width:100%;
}
.index > div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
}
.index > div > div{
  height:calc(25vh - 13px);
}
.index_level1{
  display:flex;
  justify-content: space-between;
  width:100%;
}
.index_level1 > div:first-child{
  display:flex;
  flex:1;
  flex-direction: column;
  position:relative;
  background: #F27459;
}
.index_level1 > div:first-child > span{
  display:flex;
  width:100%;
  background: #F27459;
  width:100%;
  position:absolute;
  height:85vh;
  top:-70vh;
}
.index_level1 > div:last-child{
  display:flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
}
.index_level1 > div:last-child > span{
  display:flex;
  font-size:24px;
  font-weight: bold;
  margin:0px 0px -3px 20px;
}
.index_level1 > div:last-child > span:first-child{
  margin:56px 0px -3px 20px;
}
.index_level2{
  display:flex;
  width:100%;
}
.index_level2 > div:nth-child(1){
  background: #F27459;
  width:100%;
  border-radius:0px 0px 25vh 25vh;
}
.index_level2 > div:nth-child(2){
  background: #DF80B4;
  width:100%;
  border-radius:10vh 0px 10vh 0px;
}
.index_level3{
  display:flex;
  width:100%;
}
.index_level3 > div:nth-child(1){
  background: #00B775;
  width:100%;
  border-radius:25vh;
}
.index_level3 > div:nth-child(2){
  display:flex;
  justify-content: center;
  align-items: center;
  background: #FFCB04;
  width:100%;
}
.index_level3 > div:nth-child(2) > span{
  font-size:18px;
  padding:7px 25px;
  border:solid 1px #000;
  border-radius: 30px;
  letter-spacing:7px;
}
.index_level4{
  display:flex;
  width:100%;
}
.index_level4 > div:nth-child(1){
  width:100%;
  border-radius:25vh;
}
.index_level4 > div:nth-child(2){
  background: #2A5EBC;
  width:100%;
  border-radius:12.5vh 12.5vh 0px 0px;
}
/* -------------------------------------- article ------------------------------------------ */
.article{
  display:flex;
  justify-content: center;
  width:100%;
}
.article > div{
  display:flex;
  flex-direction: column;
  width:100%;
}
.article_header{
  display:flex;
  flex-direction: column;
  /* margin:20px 0px 0px 0px; */
}
.article_header_level1{
  display:flex;
  border-bottom:solid 1px #000;
  padding:5px;
  border-top:solid 1px #000;
}
.article_header_level1 > span{
  font-size:1em;
  font-weight: bold;
}
.article_header_level2{
  display:flex;
  justify-content: space-between;
  font-size:0.9em;
  border-bottom:solid 1px #000;
  padding:5px;
}
.article_header_level2 > div{
  display:flex;
}
.article_header_level2 > div > span:nth-child(1){
  display:flex;
  margin:0px 10px 0px 0px;
  font-weight: bold;
}
.article_header_level2 > div > span:nth-child(2){
  color:#7f7f7f;
}
.article_header_level3{
  display:flex;
  font-size:0.9em;
  border-bottom:solid 1px #000;
  padding:5px;
}
/* -------------------------------------- item ------------------------------------------ */
.item{
  display:flex;
  justify-content: center;
  width:100%;
}
.item > div{
  display:flex;
  flex-direction: column;
  width:100%;
}
.item > div > div:first-child{
  display:flex;
  justify-content: space-between;
  padding:15px;
  font-weight: bold;
  color:#001717;
}
.item > div > div:first-child > span{
  font-size:20px;
}
.item_main{
  display:flex;
  border-top:solid 2px #000;
  padding:20px;
  width:calc(100% - 40px);
  flex-wrap: wrap;
  justify-content: space-between;
}
.itembox{
  display:flex;
  flex-direction: column;
  width:calc(50vw - 26px);
  margin:7px 0px;
  background:#00B775;
}
.itembox > div{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}
.itembox img{
  width:calc(100% - 10px);
}
/* -------------------------------------- item_ex ------------------------------------------ */
.item_ex{
  display:flex;
  justify-content: center;
  width:100%;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}
.item_ex > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.item_ex_level1{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  height:calc(100vw - 40px);
  width:calc(100% - 40px);
  background: #00B775;
}
.item_ex_level1 > img{
  width:90%;
  height:90%;
}
.item_ex_level2{
  display:flex;
  justify-content: flex-start;
  width:calc(100% - 40px);
  padding:5px 20px;
  margin:2px 0px 0px 0px;
}
.item_ex_level2 > span{
  font-weight: bold;
  font-size:16px;
}
.item_ex_level3{
  display:flex;
  width:calc(100% - 40px);
  padding:5px 20px;
  font-weight: bold;
  font-size:16px;
}
.item_ex_level4{
  display:flex;
  flex-direction: column;
  width:100%;
  margin:50px 0px 0px 0px;
}
.item_ex_level4 > div:first-child{
  display:flex;
  width:calc(100% - 40px);
  padding:5px 20px;
  color:#001717;
  align-items: center;
  margin:0px 0px 5px 0px;
}
.item_ex_level4 > div:first-child > span{
  display:flex;
  margin:0px 20px 0px 0px;
  font-size:12px;
}
.item_ex_level4 > div:last-child{
  display:flex;
  width:calc(100% - 20px);
  padding:0px 0px 0px 20px;
  overflow: hidden;
}
.item_ex_level4_element{
  display:flex;
  position:relative;
}
.item_ex_level4_element > div{
  display:flex;
  justify-content: center;
  align-items: center;
  height:200px;
  width:150px;
  margin:0px 10px 0px 0px;
  overflow: hidden;
}
.item_ex_level4_element > div img{
  height:200px;
}
.item_ex_level4_element > span{
  position:absolute;
  height:200px;
  width:150px;
  background:#000;
  opacity: 0.4;
}
.item_ex_level4_element:first-child > span{
  opacity: 0;
}
.item_ex_level5{
  display:flex;
  flex-direction: column;
  width:calc(100% - 40px);
  margin:5px 0px 0px 0px;
  padding:20px;
}
.item_ex_level5 > span:nth-child(1){
  font-size:12px;
  color:#808080;
}
.item_ex_level5 > span:nth-child(2){
  font-size:16px;
  display:flex;
  margin:5px 0px 0px 0px;
  font-weight: bold;
}
.item_ex_level6{
  display:flex;
  flex-direction: column;
  width:100%;
}
.item_ex_level61{
  display:flex;
  margin:0px 20px;
  padding:10px 0px;
  width:calc(100% - 40px);
  border-top:solid 1px #000;
  border-bottom:solid 1px #000;
  font-size: 12px;
}
.item_ex_level61 > div:first-child{
  display:flex;
  align-items: center;
}
.item_ex_level61 > div:first-child > span:nth-child(1){
  display:flex;
  align-items: center;
  padding:0px 10px 0px 5px;
}
.item_ex_level61 > div:first-child > span:nth-child(2){
  display:flex;
  align-items: center;
  padding:0px 25px 0px 5px;
}
.item_ex_level62{
  display:flex;
  flex-direction: column;
  margin:0px 20px;
  width:calc(100% - 40px);
  border-bottom:solid 1px #000;
  font-size: 12px;
}
.item_ex_level62 > div:first-child{
  display:flex;
  align-items: center;
  padding:10px 0px;
}
.item_ex_level62 > div:first-child > span:nth-child(1){
  display:flex;
  align-items: center;
  padding:0px 10px 0px 5px;
}
.item_ex_level62 > div:first-child > span:nth-child(2){
  display:flex;
  align-items: center;
  padding:0px 25px 0px 5px;
}
.item_ex_level62 > div:last-child{
  display:flex;
  width:calc(100% - 35px);
  padding:0px 0px 10px 35px;
}
.item_ex_level63{
  display:flex;
  flex-direction: column;
  margin:0px 20px;
  width:calc(100% - 40px);
  border-bottom:solid 1px #000;
  font-size: 12px;
}
.item_ex_level63 > div:first-child{
  display:flex;
  align-items: center;
  padding:10px 0px;
}
.item_ex_level63 > div:first-child > span:nth-child(1){
  display:flex;
  align-items: center;
  padding:0px 10px 0px 5px;
}
.item_ex_level63 > div:first-child > span:nth-child(2){
  display:flex;
  align-items: center;
  padding:0px 25px 0px 5px;
}
.item_ex_level63 > div:last-child{
  display:flex;
  flex-direction: column;
  width:calc(100% - 35px);
  padding:0px 0px 10px 35px;
}
.item_ex_level63_element{
  display:flex;
  margin:0px 0px 20px 0px;
}
.item_ex_level63_element > div:nth-child(1){
  display:flex;
  justify-content: center;
  align-items: flex-start;
  padding:0px 30px 0px 5px;
}
.item_ex_level63_element > div:nth-child(2){
  display:flex;
  flex-direction: column;
}
.item_ex_level63_element > div:nth-child(2) > span{
  display:flex;
  font-weight: bold;
  margin:0px 0px 5px 0px;
}
.item_ex_level7{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin:60px 20px;
  width:calc(100% - 60px);
  background:#fff;
  border:solid 1px #000;
  border-radius: 10px;
}
.item_ex_level7 > div{
  display:flex;
  width:100%;
  flex-direction: column;
}
.item_ex_level7 > div > span{
  font-size:16px;
}
.item_ex_level7 > div > span{
  width:100%;
  display:flex;
  font-size:12px;
  justify-content: flex-end;
  margin:10px 0px 0px 0px;
}
.item_ex_level8{
  display:flex;
  flex-direction: column;
  width:100%;
  margin:0px 0px 90px 0px;
}
.item_ex_level8 > div:nth-child(1){
  display:flex;
  align-items: center;
  width:calc(100% - 40px);
  padding:5px 20px;
  font-size:12px;
}
.item_ex_level8 > div:nth-child(1) > span{
  display:flex;
  padding:0px 10px 0px 5px;
  color:#001717;
}
.item_ex_level8 > div:nth-child(2){
  display:flex;
  width:calc(100% - 55px);
  padding:5px 0px 5px 55px;
  overflow:hidden;
}
.item_ex_level8_element{
  display:flex;
  flex-direction: column;
  color:#001717;
  margin:0px 10px 0px 0px;
}
.item_ex_level8_element > div{
  width:120px;
  height:120px;
  border:solid 1px #000;
}
.item_ex_level8_element > div > img{
  width:120px;
  height: 120px;
}
.item_ex_level8_element > span{
  display:block;
  margin:7px 0px 0px 0px;
  font-size:12px;
}
.item_ex_level9{
  display:flex;
  flex-direction: column;
  width:100%;
  margin:0px 0px 130px 0px;
}
.item_ex_level9 > div:nth-child(1){
  display:flex;
  align-items: center;
  width:calc(100% - 40px);
  margin:0px 20px;
  padding:10px 0px;
  border-top:solid 1px #707070;
  font-size:12px;
}
.item_ex_level9 > div:nth-child(1) > span{
  display:flex;
  padding:0px 10px 0px 5px;
  color:#001717;
}
.item_ex_level9 > div:nth-child(2){
  display:flex;
  width:calc(100% - 55px);
  padding:5px 0px 5px 55px;
  overflow: hidden;
}
.item_ex_level9_element{
  display:flex;
  flex-direction: column;
  color:#001717;
  margin:0px 10px 0px 0px;
}
.item_ex_level9_element > div{
  display:flex;
  justify-content: center;
  width:200px;
  height:120px;
  border:solid 1px #000;
}
.item_ex_level9_element > div > img{
  width:120px;
  height: 120px;
}
.item_ex_level9_element > span{
  display:block;
  margin:7px 0px 0px 0px;
  font-size:12px;
}
.item_ex_level10{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:245px;
  background:#DF80B4;
}
.item_ex_level10 > div{
  display:flex;
  flex-direction: column;
  margin:20px;
  padding:10px;
  width:calc(100% - 60px);
  background: #fff;
  border:solid 1px #707070;
  border-radius: 10px;
}
.item_ex_level10 > div > div:nth-child(1){
  font-size:16px;
}
.item_ex_level10 > div > div:nth-child(2){
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  margin:20px 0px 0px 0px;
}
.item_ex_level10 > div > div:nth-child(2) > span:nth-child(1){
  color:#F27459;
  font-size:20px;
}
/* --------------------------------------- board --------------------------------------- */
.board{
  display:flex;
  justify-content: center;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  width:100%;
}
.board > div{
  display:flex;
  flex-direction: column;
  width:100%;
}
.board > div > div:first-child{
  display:flex;
  justify-content: space-between;
  padding:15px;
  font-weight: bold;
  color:#001717;
}
.board > div > div:first-child > span{
  font-size:20px;
}
.board_main{
  display:flex;
  flex-direction: column;
  width:100%;
}
.board_level1{
  display:flex;
  flex-direction: column;
  width:calc(100% - 40px);
  padding:15px 20px 20px 20px;
  border-top:solid 1px #000;
  background:#2A5EBC
}
.board_level1 > span{
  display:flex;
  margin:0px 0px 15px 0px;
  font-size:16px;
  color:#fff;
}
.board_level1_element{
  display:flex;
  flex-direction: column;
  background:#F4F3ED;
  color:#231F20;
  height:200px;
}
.board_level1_element > div{
  
}