@media (min-width: 1262px) {
  /* ---------------------------------- white back -------------------------------------- */
  body, .root{
    background: #fff;
  }
  .navi_level1{
    background: #fff;
  }
  .rtende, .map_expand, .map > div > div:first-child, .item{
    background: #fff;
  }
  .navi{
    justify-content: center;
  }
  .navi > div{
    width:1000px;
  }
  .navi_level2{
    width:100%;
    background: #fff;
    flex-direction: row;
  }
  .navi_level2 > a{
    font-size:1rem;
    justify-content: center;
    padding:10px;
    width:180px;
  }
  /* ---------------------------------- article -------------------------------------- */
  .board_level12 > div:first-child{
    height:500px;
  }
  .board_pick_item{
    width:500px;
    height:500px;
  }
  .board_pick_item > a{
    width:500px;
  }
  .board_pick_item > a > div{
    width:499px;
    height:498px;
  }
  .board_pick_item > a > div > img{
    width:495px;
    height:495px;
  }
  .board_level12 > div:last-child > span.on{
    border-bottom: 5px #2A5EBC solid;
  }
  .board_level12 > div:last-child > span{
    border-bottom: 5px #eaeaea solid;
    width:230px;
    cursor: pointer;
  }
  /* ---------------------------------- article -------------------------------------- */
  .map_main > div{
    flex-direction: row;
  }
  .map_main > div > div:first-child{
    width:500px;
  }
  .map_main > div > div:last-child{
    width:500px;
  }
  .map_popup{
    width:400px;
  }
  .map_popup > div{
    width:370px;
    cursor: pointer;
  }
  .map_popup{
    margin:20vh 0px 0px 50px;
  }
  .map_main_list{
    height:610px;
    overflow-y: scroll;
  }
  /* ---------------------------------- article -------------------------------------- */
  .shop_tablet{
    display:flex;
  }
  .shop_level1tablet{
    display:flex;
    width:500px;
  }
  .shop_level1tablet > span{
    width:460px;
  }
  .shop_level1tablet > div{
    width:500px;
    height: 500px;
  }
  .shop_level1tablet > div img{
    width:460px;
    height: 460px;
  }
  .shop_level1, .shop_level4, .shop_level2{
    display:none;
  }
  .shop_level2tablet{
    display:flex;
    width:460px;
  }
  .shop_level4tablet{
    display:flex;
    padding:0px 20px;
    width:460px;
  }
  .shop_level3{
    padding:20px 0px 0px 0px;
    width:1000px;
  }
  .shop_level5{
    padding:20px 0px;
    width:1000px;
  }
  .shop_level6{
    padding:20px 0px 0px 0px;
    width:100%;
  }
  .shop_level7{
    padding:20px 0px 0px 0px;
    width:100%;
  }
  .shop_level2tablet > div{
    font-size: 1rem;
  }
  /* ---------------------------------- rtem -------------------------------------- */
  .rtem_level2 > div:first-child{
    height:250px;
  }
  .rtem_level2 > div:first-child > div{
    width:1000px;
    height:250px;
  }
  .rtem_level2 > div:first-child > div > div{
    width:500px;
    height:250px;
  }
  .rtem_level2 > div:first-child > div > div > img{
    width:500px;
    height:250px;
  }
  .rtem_level2 > div:last-child > span{
    width:230px;
    border-bottom: 5px #eaeaea solid;
    cursor: pointer;
  }
  .rtem_level2 > div:last-child > span.on{
    border-bottom: 5px #00B775 solid
  }
  .rtem_level3{
    margin:20px 0px 0px 0px;
  }
  .rtem_level3 > div{
    width:100%;
    padding:10px 0px;
  }
  .rtem_level3 > div > a{
    width:240px;
    height:240px;
  }
  .rtem_level3 > div > a img{
    width:240px;
    height:240px;
  }
  .container{
    height:200px;
  }
  .container img{
    width:200px;
    height:200px;
  }
  .rtem_level3 > span, .rtem_level4 > span{
    font-weight: bold;
    font-size: 1.3rem;
    padding:0px;
  }
  .rtem_level4 > div{
    width:1000px;
    padding:10px 0px;
  }
  /* ---------------------------------- article -------------------------------------- */
  .article_tablet{
    display:flex;
    border-top:solid 1px #000;
  }
  .article_level1{
    width:500px;
  }
  .article_level1 > div:nth-child(2){
    width:500px;
    height:500px;
  }
  .article_level1 > div:nth-child(2) img{
    width:500px;
    height:500px;
  }
  .article_level2{
    width:420px;
  }
  .item_ex_level_qr > div:first-child{
    width:auto;
  }
  .item_ex_level_qr{
    margin:20px 0px 0px 0px;
    padding:0px;
    width:100%;
  }
  .item_ex_level_qr > div:first-child > img{
    width:30px;
    height: 30px;
    margin:0px 10px 0px 0px;
  }
  .article_level4{
    width:100%;
    padding:0px;
  }
  .article_level6{
    width:100%;
    margin:10px 0px;
  }
  /* ---------------------------------- index -------------------------------------- */
  .rtende{
    justify-content: center;
  }
  .item > div, .article > div, .board > div, .about > div, .map > div, .rtem > div, .project > div, .rtende > div{
    width:1000px;
  }
  .rtende_subnavi{
    overflow: hidden;
  }
  .rtende_main > div:nth-child(2){
    display: flex;
    padding: 15px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
  }
  .rtende_display{
    width:500px;
    height:500px;
    margin:0px;
    border:none;
  }
  .rtende_display > img{
    width:500px;
    height:500px;
  }
  .rtende_info{
    background: #FFFEF8;
  }
  .rtende_subnavi > div{
    cursor: pointer;
  }
  /* ---------------------------------- map -------------------------------------- */
  
  /* ---------------------------------- project -------------------------------------- */
  .project_22{
    width:500px;
    height:500px;
    border:none;
  }
  .project_11{
    width:250px;
    height:250px;
    border:none;
  }
  .project_21{
    width:500px;
    height:250px;
    border:none;
  }
  .project_12{
    width:250px;
    height:500px;
    border:none;
  }
  .project_22 > img{
    width:500px;
    height:500px;
    border:none;
  }
  .project_11 > img{
    width:250px;
    height:250px;
    border:none;
  }
  .project_21 > img{
    width:500px;
    height:250px;
    border:none;
  }
  .project_12 > img{
    width:250px;
    height:500px;
    border:none;
  }
  .about_video{
    height:500px;
  }
  .project_main span{
    display:flex;
    background:rgba(0,0,0,0.4);
    border-radius: 30px;
    color:#fff;
    font-size: 0.8rem;
    padding:3px 8px;
    cursor: pointer;
  }
  /* ---------------------------------- map main -------------------------------------- */
  .map_main2_pc{
    display:flex;
    width:100%;
    flex-direction: row;
  }
  .map_main2_pc1{
    display:flex;
    width:500px;
    flex-direction: column;
  }
  .map_main2_pc2{
    display:flex;
    width:500px;
    flex-direction: column;
  }
  .map_main_table{
    padding:0px 15px;
  }
  .map_expand > div:nth-child(2n-1), .map_expand > div:nth-child(1), .map_expand > div:nth-child(2){
    border:solid 1px #ababab;
  }
  .map_main_table > div.normal > div{
    width:200px;
  }
  .map_expand > div{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    font-weight: bold;
    width: 458px;
    font-size: 16px;
    border:none;
    border:solid 1px #ababab;
  }
  .Map_scale{
    padding:20px;
  }
  .map_register{
    width:1000px;
  }
  .map_state_level2 > span{
    cursor: pointer;
  }
  .shoplist{
    justify-content: center;
  }
  .shoplist > div{
    width:1000px;
  }
  /* ---------------------------------- index -------------------------------------- */
  .index{
    justify-content: center;
    background: #fff;
  }
  .index > div{
    width:410px;
    overflow:visible;
  }
  .index_level2 > div:nth-child(1){
    width:200px;
  }
  .index_level2 > div:nth-child(2){
    height:200px;
  }
  .index_level2 > div:nth-child(2){
    width:200px;
  }
  .index_level3{
    margin:-1px 0px 0px 0px;
  }
  .index_level3 > div:nth-child(1){
    width:200px;
    height: 200px;
  }
  .index_level3 > div:nth-child(2){
    width:200px;
    margin: 40px 0px 0px 0px;
  }
  .index > div > div{
    /* height: 200px; */
  }
  .index_level3 > div:nth-child(2) > span{
    width:200px;
    height: 200px;
  }
  .index_level4 > div:nth-child(1){
    width:200px;
    height: 200px;
    margin: -10px 0px 0px 0px;
  }
  .index_level4 > a:nth-child(2){
    width:200px;
    margin: 50px 0px 0px 0px;
  }
  .index_level4{
    height: calc(200px + 20px);
  }
  .index_level4 > a:nth-child(2) > div:nth-child(1){
    font-size:1.5rem;
    padding:19px 13px;
  }
  .index_level4 > a:nth-child(2) > div:nth-child(1) > span{
    border:none;
  }
  .index_level4 > a:nth-child(2) > div > span{
    border:none;
  }
  .item_main > div:first-child > span{
    font-weight: bold;
    font-size: 1.3rem;
  }
  .item_main > div:first-child{
    width:100%;
    padding:0px;
  }
  .item_main > div:last-child{
    width:100%;
    padding:10px 0px;
    justify-content: flex-start;
  }
  .item_main > div:last-child > a{
    margin:5px;
  }
  .itembox{
    width:180px;
  }
  .itembox > div{
    height:160px;
    width:160px;
  }
  .itembox img{
    height:160px;
    width:160px;
  }
  .item_ex_level1{
    padding:10px;
    width:480px;
    height:480px;
  }
  .item_ex_level1 > img{
    width:460px;
    height:460px;
  }
  .item_ex > div{
    align-items: flex-end;
  }
  .item_ex > div > div:first-child{
    display:flex;
    width:100%;
  }
  .item_ex > div > div:first-child > div:last-child{
    display:flex;
    flex-direction: column;
    width:500px;
  }
  .item_ex_level4{
    margin:30px 0px 0px 0px;
  }
  .item_ex_level5{
    width:100%;
    padding:20px 0px;
  }
  .item_ex_level63, .item_ex_level62, .item_ex_level61{
    margin:0px;
    width:100%;
  }
  .item_ex_level7{
    justify-content: flex-end;
    width: 500px;
    margin:60px 0px;
  }
  .item_ex_level8 > div:nth-child(1){
    width:100%;
    padding:10px 0px;
  }
  .item_ex_level9 > div:nth-child(1){
    width:100%;
    margin:0px;
  }
  .item_ex_level10 > div{
    width:400px;
  }
  .index2 > div{
    width:1000px;
  }
  .index2_star, .index2_video{
    width:1000px;
    height:500px;
  }
  .index2_star0{
    left:480px;
    bottom:200px;
  }
  
@keyframes ani1{
  0%{
    top:30px;
    left:480px;
  }
  50%{
    top:50px;
    left:460px;
  }
  100%{
    top:35px;
    left:480px
  }
}
@keyframes ani2{
  0%{
    bottom:30px;
    left:480px;
  }
  50%{
    bottom:25px;
    left:500px;
  }
  100%{
    bottom:35px;
    left:480px;
  }
}
@keyframes ani3{
  0%{
    bottom:200px;
    left:400px;
  }
  50%{
    bottom:220px;
    left:420px;
  }
  100%{
    bottom:180px;
    left:380px;
  }
}
@keyframes ani4{
  0%{
    bottom:130px;
    left:300px;
  }
  50%{
    bottom:150px;
    left:280px;
  }
  100%{
    bottom:140px;
    left:320px;
  }
}
@keyframes ani5{
  0%{
    bottom:220px;
    right:350px;
  }
  50%{
    bottom:180px;
    right:380px;
  }
  100%{
    bottom:180px;
    right:350px;
  }
}
@keyframes ani6{
  0%{
    bottom:130px;
    right:300px;
  }
  50%{
    bottom:150px;
    right:280px;
  }
  100%{
    bottom:140px;
    right:320px;
  }
}
@keyframes ani7{
  0%{
    top:130px;
    right:380px;
  }
  50%{
    top:180px;
    right:350px;
  }
  100%{
    top:180px;
    right:350px;
  }
}
@keyframes ani8{
  0%{
    top:130px;
    right:300px;
  }
  50%{
    top:150px;
    right:280px;
  }
  100%{
    top:140px;
    right:320px;
  }
}
@keyframes ani9{
  0%{
    top:130px;
    left:380px;
  }
  50%{
    top:180px;
    left:350px;
  }
  100%{
    top:180px;
    left:350px;
  }
}
@keyframes ani10{
  0%{
    top:130px;
    left:300px;
  }
  50%{
    top:150px;
    left:280px;
  }
  100%{
    top:140px;
    left:320px;
  }
}
}